# Local virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database & Secrets (We will handle these via volumes and env_files)
chroma_db/
.env

# Logs
*.log
ingestion.log

# Git
.git
.gitignore