# requirements.txt
fastapi
uvicorn
python-dotenv
groq
pandas
langchain
langchain-community
langchain-chroma
langchain-huggingface
sentence-transformers
# CPU versiyonu için spesifik torch kurulumu (Opsiyonel ama önerilir)
--extra-index-url https://download.pytorch.org/whl/cpu
torch